# Postgres configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=          # generate username.
POSTGRES_PASSWORD=      # generate password.
POSTGRES_DB=epdg

# Global python log level
LOG_LEVEL=INFO

# API configuration
ENABLE_DOCS=true
DATABASE_URL=postgresql+asyncpg://POSTGRES_USER:POSTGRES_PASSWORD@epdg-postgres:5432/epdg   # Update with actual credentials from above.
DEFAULT_LIMIT=130        # Default number of items to return in api response.
MAX_LIMIT=600           # Maximum number of items to return in api response.
ENABLE_RATE_LIMIT=true
RATE_LIMIT_REQUESTS_PER_MINUTE=60
RATE_LIMIT_TIMEOUT_SECONDS=60       # How long a client is limited.
API_KEY=                # Generate a secure API key. Set it here AND in frontend/static/map.js table.js and collisions.js


# zulip configuration (populate with info on demand)
ZULIP_SERVER_URL=
ZULIP_BOT_EMAIL=
ZULIP_BOT_API_KEY=